# Dependencies  
node_modules/  
  
# Build output  
dist/  
  
# Vite  
*.local  
  
# TypeScript  
*.tsbuildinfo  
  
# Testing  
coverage/  
  
# Logs  
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*

.env